<div class="q">
  <h3>{{model.question}}</h3>
  <p>Asked by {{model.author}} on {{model.timestamp}}</p>
  <hr>

  <div>
    {{answer-question question=model saveAnswer="saveAnswer"}}
  </div>

  <h2>A's</h2>
  {{#each model.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
</div>
