<div class="q">
  <h2 id="question">{{model.question}}</h2>
  <div class="panel panel-default">
    <div class="panel-body">
      {{model.notes}}
      <div class="panel-body">
        Asked by {{model.author}} on {{model.timestamp}}
      </div>
    </div>
  </div>
  <hr>

  <div>
    {{answer-question question=model saveAnswer="saveAnswer"}}
  </div>

  <h2>A's</h2>
  {{#each model.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
</div>
